@layer prose {
  .prose {
    @apply text-sm text-gray-700 dark:text-gray-400;
    line-height: 1.75;
  }

  .prose * + * {
    @apply mt-6;
  }

  .prose h1,
  .prose h2,
  .prose h3,
  .prose h4,
  .prose h5,
  .prose h6 {
    @apply text-gray-950 dark:text-white;
  }

  .prose h1 {
    @apply text-3xl font-semibold;
    letter-spacing: -0.025em;
  }

  .prose h2 {
    @apply text-xl font-medium;
    letter-spacing: -0.025em;
    margin-top: 3.75rem;
  }

  .prose h3 {
    @apply text-lg font-medium;
    letter-spacing: -0.025em;
    margin-top: 2.5rem;
  }

  .prose a {
    @apply text-gray-950 hover:underline dark:text-white;
  }

  .prose code {
    @apply rounded bg-gray-100 px-1 py-0.5 font-mono text-sm font-medium text-gray-950 dark:bg-gray-800 dark:text-white;
  }

  .prose code::before,
  .prose code::after {
    content: "`";
  }

  .prose pre {
    @apply overflow-x-auto rounded-lg p-4;
  }

  .prose pre code {
    @apply block text-sm leading-5;
    background: transparent !important;
    padding: 0 !important;
  }

  .prose pre code::before,
  .prose pre code::after {
    content: "";
  }

  .prose img {
    @apply rounded-lg border border-gray-950/10 bg-gray-950 dark:border-white/10 dark:bg-gray-950;
  }

  .prose blockquote {
    @apply border-l-4 border-gray-300 pl-4 italic dark:border-gray-700;
  }

  .prose ul,
  .prose ol {
    @apply list-inside space-y-2;
  }

  .prose li {
    @apply text-gray-700 dark:text-gray-400;
  }

  .prose table {
    @apply w-full border-collapse;
  }

  .prose th {
    @apply border border-gray-300 bg-gray-100 px-4 py-2 text-left font-semibold dark:border-gray-700 dark:bg-gray-800;
  }

  .prose td {
    @apply border border-gray-300 px-4 py-2 dark:border-gray-700;
  }
}
